<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

    <key>OPENAI_API_KEY</key>
    <string>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</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>localhost</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>